/* LINKS */
.content a {
  color: var(--chakra-colors-purple-600);
  text-decoration: underline;
}

.content.dark a {
  color: var(--chakra-colors-purple-300);
}

/* HEADINGS */
.content h1,
.content h2,
.content h3,
.content h4 {
  font-weight: bold;
}

.content h1 {
  font-size: var(--chakra-fontSizes-3xl);
  margin-top: var(--chakra-space-6);
  margin-bottom: var(--chakra-space-3);
}

.content h2 {
  font-size: var(--chakra-fontSizes-2xl);
  margin-top: var(--chakra-space-4);
  margin-bottom: var(--chakra-space-2);
}

.content h3 {
  font-size: var(--chakra-fontSizes-xl);
  margin-top: var(--chakra-space-2);
  margin-bottom: var(--chakra-space-1);
}

.content h4 {
  font-size: var(--chakra-fontSizes-lg);
  margin-top: var(--chakra-space-2);
  margin-bottom: var(--chakra-space-1);
}

/* PARAGRAPHS */
.content p + p {
  margin-top: 0;
  text-indent: 2ch;
}

/* LISTS */
.content ul,
.content ol {
  padding-left: var(--chakra-space-4);
  margin: var(--chakra-space-2) 0;
}

.content li ul,
.content li ol {
  margin: 0;
}

/* CALLOUTS */
.content .callout > .callout-container {
  border-radius: var(--chakra-radii-md);
  margin: var(--chakra-space-2) 0;
  padding: var(--chakra-space-2) var(--chakra-space-4);
  position: relative;
}

.content .callout > .callout-container::after {
  background-color: var(--chakra-colors-purple-400);
  border-radius: var(--chakra-radii-md);
  content: '';
  opacity: 0.1;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

/* TABLES */
.content table {
  width: 100%;
}

.content caption {
  font-weight: var(--chakra-fontWeights-bold);
  margin-bottom: var(--chakra-space-2);
  text-align: initial;
}

.content th {
  text-align: initial;
}

.content tbody tr:nth-child(odd) td {
  position: relative;
}

.content tbody tr:nth-child(odd) td::after {
  background-color: var(--chakra-colors-purple-400);
  content: '';
  opacity: 0.1;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

@media print {
  .content {
    --color-heading: #662927;
    --color-heading-stroke: #a7a9ac;
    --color-heading-border: #c4ab74;
    --color-callout-border: #38130a;

    --size-heading-2: var(--chakra-fontSizes-5xl);
    --size-heading-3: var(--chakra-fontSizes-4xl);
    --size-heading-4: var(--chakra-fontSizes-2xl);
    --size-heading-callout: var(--chakra-fontSizes-xl);
  }

  .content {
    column-count: 2;
    column-gap: 20pt;
    column-fill: auto;
  }

  .content h2,
  .content h3,
  .content h4 {
    page-break-after: avoid;
    break-after: avoid;
    page-break-inside: avoid;
    break-inside: avoid;
  }

  .content a,
  .content blockquote,
  .content img,
  .content table,
  .content .callout {
    page-break-inside: avoid;
    break-inside: avoid;
  }

  .content,
  .content * {
    font-family: var(--chakra-fonts-print);
  }

  .content h2,
  .content h3,
  .content h4 {
    color: var(--color-heading);
    font-variant: small-caps;
    font-weight: bold;
    line-height: 1.2;
  }

  .content h2 {
    font-size: var(--size-heading-2);
    -webkit-text-stroke: 0.5px var(--color-heading-stroke);
  }

  .content h3 {
    font-size: var(--size-heading-3);
    border-bottom: 2px solid var(--color-heading-border);
  }

  .content h4 {
    font-size: var(--size-heading-4);
  }

  .content a,
  .content.dark a {
    color: var(--color-heading);
  }

  .content strong {
    color: var(--color-heading);
  }

  .content .callout {
    --callout-paperfold-height: 10px;
    --callout-paperfold-width: 15px;

    position: relative;
    margin: var(--callout-paperfold-height) 0;
  }

  .content .callout .callout-container {
    background-color: white;
    border-radius: 0;
    border-top: 2px solid var(--color-callout-border);
    border-bottom: 2px solid var(--color-callout-border);
    z-index: 1;
    margin: 0;
  }

  .content .callout::before,
  .content .callout::after {
    content: '';
    border-bottom: var(--callout-paperfold-height) solid transparent;
    border-top: var(--callout-paperfold-height) solid transparent;
    position: absolute;
    top: calc(var(--callout-paperfold-height) * -1);
    bottom: calc(var(--callout-paperfold-height) * -1);
    z-index: -1;
  }

  .content .callout::before {
    left: 0;
    border-right: var(--callout-paperfold-width) solid
      var(--color-callout-border);
  }

  .content .callout::after {
    right: 0;
    border-left: var(--callout-paperfold-width) solid
      var(--color-callout-border);
  }

  .content .callout .callout-container h2,
  .content .callout .callout-container h3,
  .content .callout .callout-container h4 {
    border-bottom: none;
    color: black;
    font-size: var(--size-heading-callout);
  }

  .content .callout .callout-container::after {
    background-color: var(--color-heading);
    border-radius: 0;
  }

  .content tbody tr:nth-child(odd) td::after {
    background-color: var(--color-heading);
  }
}
