@media print {
  :root {
    font-size: 8pt !important;
  }

  *:not(.do-print-ancestor, .do-print, .do-print *) {
    display: none !important;
  }

  .do-print-ancestor {
    display: block !important;
  }

  a[href]:after {
    content: ' (' attr(href) ')';
  }
}
